# uncompiled css
/public/assets/css/main.css.map

# node packages
/node_modules

# misc
.DS_Store

# panorama images (not including them until compressed bc they are way too big)
/public/assets/images/panoramas
