<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body>
  <div id="page">
    <%- include components/Header %>
    <%- include components/MobileHeader %>
    <%- include components/Footer %>
  </div>
</body>
</html>
