/* Coolors Exported Palette - coolors.co/a3e7fc-8cff98-fefffe-252422-d7fdec */
/* new colors */
html, body {
  font-family: "PT Serif", serif;
  font-size: 62.5%;
  font-weight: 400;
}
html *, body * {
  font-family: "PT Serif", serif;
  font-size: 62.5%;
  font-weight: 400;
  color: inherit;
}
html input, body input {
  font-family: "PT Serif", serif;
  font-size: 62.5%;
  font-weight: 400;
  color: inherit;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 6.6rem;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 5.4rem;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 4.8rem;
  padding: 0px;
  margin: 0px;
}

h4 {
  font-size: 3.2rem;
  padding: 0px;
  margin: 0px;
}

h5 {
  font-size: 2.6rem;
  padding: 0px;
  margin: 0px;
}

h6 {
  font-size: 2.2rem;
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 1.6rem;
  padding: 0px;
  margin: 0px;
}

li {
  font-size: 1.6rem;
}

.small {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 5.8rem;
    padding: 0px;
    margin: 0px;
  }

  h2 {
    font-size: 5.2rem;
    padding: 0px;
    margin: 0px;
  }

  h3 {
    font-size: 4.6rem;
    padding: 0px;
    margin: 0px;
  }

  h4 {
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
  }

  h5 {
    font-size: 2.4rem;
    padding: 0px;
    margin: 0px;
  }

  h6 {
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
  }

  p {
    font-size: 1.4rem;
    padding: 0px;
    margin: 0px;
  }

  li {
    font-size: 1.4rem;
  }

  .small {
    font-size: 1.2rem;
  }
}
.checklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.checklist .checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checklist .checkbox-wrap {
  display: flex;
  align-items: center;
  position: relative;
  height: 35px;
  font-size: 1.6rem;
  color: #FFFCF9;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.checklist .checkbox-wrap#wcg-panoramas {
  border-color: #F46036 !important;
}
.checklist .checkbox-wrap#wcg-beaches {
  border-color: #5B85AA !important;
}
.checklist .checkbox-wrap#wcg-boat-access {
  border-color: #36F1CD !important;
}
.checklist .checkbox-wrap#wcg-stories {
  border-color: #EF798A !important;
}
.checklist .checkbox-wrap#wcg-historic-ls {
  border-color: #FFC857 !important;
}
.checklist .checkbox-wrap#wcg-lighthouses {
  border-color: #63B0CD !important;
}
.checklist .checkbox-wrap#wcg-marinas {
  border-color: #E9D2F4 !important;
}
.checklist .checkbox-wrap#wcg-maritime-geocaches {
  border-color: #da3737 !important;
}
.checklist .checkbox-wrap#wcg-nature-centers {
  border-color: #3c9023 !important;
}
.checklist .checkbox-wrap#wcg-parks {
  border-color: #7b32a7 !important;
}
.checklist .checkbox-wrap#wcg-shipwrecks {
  border-color: #9BC53D !important;
}
.checklist .checkbox-wrap#wcg-sna {
  border-color: #197BBD !important;
}
.checklist .checkbox-wrap#wcg-glct-route-lake-michigan {
  border-color: #39A0ED !important;
}
.checklist .checkbox-wrap#wcg-glct-route-lake-superior {
  border-color: #EDAFB8 !important;
}
.checklist .checkbox-wrap#wcg-rustic-roads {
  border-color: #7BDFF2 !important;
}
.checklist .checkbox-wrap#wcg-byways {
  border-color: #C08497 !important;
}
@media screen and (max-width: 768px) {
  .checklist .checkbox-wrap {
    width: 43%;
  }
}
.checklist .checkmark {
  position: absolute;
  top: 7.5px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: #eee;
  border: 1px solid transparent;
  transition: 200ms;
}
.checklist .checkbox-wrap:hover input ~ .checkmark {
  background-color: #eee;
  border: 1px solid;
  border-color: inherit;
  transition: 200ms;
}
.checklist .checkbox-wrap input:checked ~ .checkmark {
  border: 1px solid;
  border-color: inherit;
  transition: 200ms;
}
.checklist .checkmark:after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transition: 200ms;
}
.checklist .checkbox-wrap input:checked ~ .checkmark:after {
  opacity: 1;
  transition: 200ms;
}
.checklist .checkbox-wrap .checkmark:after {
  width: 5px;
  height: 10px;
  left: 6.8px;
  top: 2.3px;
  border: solid;
  border-color: inherit;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .checkbox-wrap {
    width: 100% !important;
  }
}
#controls-wrap {
  width: 25%;
  height: 100%;
  background-color: #FFFCF9;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #F1F1F0;
  transition: 300ms;
  margin-left: -25%;
}
#controls-wrap > div {
  padding: 20px 30px 20px 30px;
}
#controls-wrap * {
  color: #08090A;
}
#controls-wrap.visible {
  transition: 300ms;
  margin-left: 0;
}

.controls-toggler {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1.5vw;
  width: 36px;
  height: 36px;
  border: 1px solid #eee;
  border-radius: 6px;
  z-index: 999999999;
  transition: 300ms;
  left: 1.75%;
}
.controls-toggler.visible {
  transition: 300ms;
  left: 26.75%;
}

@media screen and (max-width: 768px) {
  #controls-wrap {
    width: 100%;
    margin-left: -100%;
  }

  .controls-toggler.visible {
    position: absolute;
    left: auto;
    right: 1.75%;
  }
}
#footer-wrap {
  width: 100%;
}
#footer-wrap > div {
  padding: 20px 0px 40px 0px;
  width: 65%;
  margin-left: 17.5%;
  text-align: justify;
}
#footer-wrap > div h6 {
  margin: 10px 0px 0px 0px;
}
#footer-wrap > div p {
  margin: 10px 0px 0px 0px;
}
#footer-wrap > div strong, #footer-wrap > div em {
  font-size: inherit;
}
#footer-wrap > div strong {
  font-weight: 700;
}
#footer-wrap > div a {
  color: #524f4b;
  font-size: inherit;
  transition: 150ms;
}
#footer-wrap > div a:hover {
  transition: 150ms;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  #footer-wrap > div {
    width: 92.5%;
    margin-left: 3.75%;
  }
}
.header-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  background-color: #FFFCF9;
  color: #08090A;
  border-bottom: 1px solid #A2A3BB;
}
.header-wrap > div {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-wrap > div:first-child {
  padding-left: 30px;
}
.header-wrap > div:first-child h6 {
  margin-left: 20px;
}
.header-wrap > div:last-child {
  justify-content: flex-end;
}
.header-wrap > div:last-child * {
  margin-right: 15px;
}
.header-wrap a {
  text-decoration: none;
  transition: 200ms;
}
.header-wrap a:hover {
  transition: 200ms;
  opacity: 0.8;
}

#map {
  display: flex;
  flex: 1;
  height: 100%;
  z-index: 9999;
}

.popup-wrap .mapboxgl-popup-close-button {
  width: 30px;
  color: #FFFCF9;
  font-size: 2.4rem;
  border-radius: 0px;
}
.popup-wrap .mapboxgl-popup-close-button:hover {
  opacity: 0.8;
}
.popup-wrap .mapboxgl-popup-close-button:focus {
  outline: 0;
}
.popup-wrap .mapboxgl-popup-content {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.popup-wrap .mapboxgl-popup-content .title-wrap {
  max-width: 300px;
  background-color: #08090A;
  padding: 8px 40px 8px 10px;
  border-left: 8px solid;
  /* color is provided in public/assets/js/popupFormatters.js */
  color: #FFFCF9;
}
.popup-wrap .mapboxgl-popup-content .body-wrap {
  position: relative;
  max-width: 300px;
  max-height: 225px;
  background-color: #FFFCF9;
  padding: 8px 10px 8px 10px;
  color: #08090A;
  overflow: scroll;
}
.popup-wrap .mapboxgl-popup-content .body-wrap .separator {
  background-color: #eee;
}
.popup-wrap .mapboxgl-popup-content .body-wrap a {
  text-align: center;
  font-size: inherit;
}
.popup-wrap .mapboxgl-popup-content .body-wrap a p {
  font-size: 1rem;
}
.popup-wrap .mapboxgl-popup-content .body-wrap i {
  font-size: inherit;
}

/* panorama popups */
.popup-wrap .mapboxgl-popup-content .title-wrap.panorama {
  max-width: 500px;
}
.popup-wrap .mapboxgl-popup-content .body-wrap.panorama {
  max-width: 500px;
}
.popup-wrap .mapboxgl-popup-content .body-wrap.panorama #pmvr {
  width: 500px;
  height: 225px;
}
.popup-wrap .mapboxgl-popup-content .body-wrap.panorama a.link-to-original {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #eee;
  transition: 200ms;
}
.popup-wrap .mapboxgl-popup-content .body-wrap.panorama a.link-to-original img {
  width: 24px;
  height: 24px;
}
.popup-wrap .mapboxgl-popup-content .body-wrap.panorama a.link-to-original:hover {
  opacity: 0.8;
  transition: 200ms;
}
@media screen and (max-width: 768px) {
  .popup-wrap .mapboxgl-popup-content .title-wrap.panorama {
    max-width: 80vw;
  }
  .popup-wrap .mapboxgl-popup-content .body-wrap.panorama {
    max-width: 80vw;
  }
  .popup-wrap .mapboxgl-popup-content .body-wrap.panorama #pmvr {
    width: 80vw;
    height: 36vw;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 8px 0px 8px 0px;
}
.separator.spacious {
  margin: 24px 0px 24px 0px;
}

#page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#controls-and-map-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 92vh;
  overflow-y: hidden;
}

#typography-sample-wrap {
  width: 60%;
  margin-left: 20%;
  padding: 40px 0px 40px 0px;
}

@media screen and (max-width: 768px) {
  #typography-sample-wrap {
    width: 95%;
    margin-left: 2.5%;
  }
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-y: hidden;
}

.mapboxgl-ctrl-attrib a {
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
