$checkmark-size: 20px;
$wrap-height: $checkmark-size + 15px;
$check-width: 5px;
$check-height: 10px;
$transition: 200ms;

$accent-color: red;

.checklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // hide default checkbox
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // label wrap (full row)
  .checkbox-wrap {
    display: flex;
    align-items: center;
    position: relative;
    height: $wrap-height;
    font-size: 1.6rem;
    color: $white;
    padding-left: $checkmark-size + 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &#wcg-panoramas { border-color: #F46036 !important; }
    &#wcg-beaches { border-color: #5B85AA !important; }
    &#wcg-boat-access { border-color: #36F1CD !important; }
    &#wcg-stories { border-color: #EF798A !important; }
    &#wcg-historic-ls { border-color: #FFC857 !important; }
    &#wcg-lighthouses { border-color: #63B0CD !important; }
    &#wcg-marinas { border-color: #E9D2F4 !important; }
    &#wcg-maritime-geocaches { border-color: #da3737 !important; }
    &#wcg-nature-centers { border-color: #3c9023 !important; }
    &#wcg-parks { border-color: #7b32a7 !important; }
    &#wcg-shipwrecks { border-color: #9BC53D !important; }
    &#wcg-sna { border-color: #197BBD !important; }
    &#wcg-glct-route-lake-michigan { border-color: #39A0ED !important; }
    &#wcg-glct-route-lake-superior { border-color: #EDAFB8 !important; }
    &#wcg-rustic-roads { border-color: #7BDFF2 !important; }
    &#wcg-byways { border-color: #C08497 !important; }

    width: 100%;
    @media screen and (max-width: $bp-mobile) {
      width: 43%;
    }
  }

  // checkbox
  .checkmark {
    position: absolute;
    top: ($wrap-height - $checkmark-size) / 2;
    left: 0;
    height: $checkmark-size;
    width: $checkmark-size;
    border-radius: 4px;
    background-color: $light-grey;
    border: 1px solid transparent;
    transition: $transition;
  }

  // hovered
  .checkbox-wrap:hover input ~ .checkmark {
    background-color: $light-grey;
    border: 1px solid;
    border-color: inherit;
    transition: $transition;
  }

  // checked
  .checkbox-wrap input:checked ~ .checkmark {
    border: 1px solid;
    border-color: inherit;
    transition: $transition;
  }

  // hide checkmark when not checked
  .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    transition: $transition;
  }

  // show checkmark when checked
  .checkbox-wrap input:checked ~ .checkmark:after {
    opacity: 1;
    transition: $transition;
  }

  // checkmark
  .checkbox-wrap .checkmark:after {
    width: $check-width;
    height: $check-height;
    left: $checkmark-size / 2 - $check-width + 1.8;
    top: $checkmark-size / 2 - $check-height + 2.3;
    border: solid;
    border-color: inherit;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media screen and (max-width: $bp-mobile) {
  .checkbox-wrap {
    width: 100% !important;
  }
}
