#controls-wrap {
  width: 25%;
  height: 100%;
  background-color: $black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  > div {
    padding: 20px 30px 20px 30px;
  }

  h6 {
    color: $white;
  }
}

@media screen and (max-width: $bp-mobile) {
  #controls-wrap {
    position: absolute;
    width: 100%;
    height: 65vh;
    top: -65vh - 8vh;
    z-index: 1000;
    left: 0px;

    transition: 350ms;
    &.visible {
      transition: 350ms;
      top: 8vh;
    }
  }
}
