$transition: 300ms;
$controls-width-desktop: 25%;
$controls-width-mobile: 100%;

#controls-wrap {
  width: $controls-width-desktop;
  height: 100%;
  background-color: $white;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid $off-white;

  > div {
    padding: 20px 30px 20px 30px;
  }

  * {
    color: $black;
  }

  transition: $transition;
  margin-left: -$controls-width-desktop;
  &.visible {
    transition: $transition;
    margin-left: 0;
  }
}

.controls-toggler {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1.5vw;
  width: 36px;
  height: 36px;
  border: 1px solid #eee;
  border-radius: 6px;
  z-index: 999999999;
  background-color: $white;

  transition: $transition;
  left: 1.75%;
  &.visible {
    transition: $transition;
    left: $controls-width-desktop + 1.75%;
  }
}

@media screen and (max-width: $bp-mobile) {
  #controls-wrap {
    width: $controls-width-mobile;
    margin-left: -$controls-width-mobile;
  }

  .controls-toggler {
    &.visible {
      position: absolute;
      left: auto;
      right: 1.75%;
    }
  }
}
