#footer-wrap {
  width: 100%;
  background-color: $white;
  
  > div {
    padding: 20px 0px 40px 0px;
    width: 65%;
    margin-left: (100% -  65%) / 2;
    text-align: justify;

    h6 {
      margin: 10px 0px 0px 0px;
    }

    p {
      margin: 10px 0px 0px 0px;
    }

    strong, em {
      font-size: inherit;
    }

    strong {
      font-weight: 700;
    }

    a {
      color: $link-black;
      font-size: inherit;
      transition: 150ms;
      &:hover {
        transition: 150ms;
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: $bp-mobile) {
  #footer-wrap {
    > div {
      width: 92.5%;
      margin-left: 3.75%;
    }
  }
}
