/* Coolors Exported Palette - coolors.co/a3e7fc-8cff98-fefffe-252422-d7fdec */
$light-blue: rgba(163, 231, 252, 1);
$mint-green: rgba(140, 255, 152, 1);
$green: rgba(50, 232, 69, 1);
$link-black: rgba(82, 79, 75, 1);
$light-black: rgba(56, 55, 51, 1);
$light-grey: #eee;
$aero-blue: rgba(215, 253, 236, 1);


/* new colors */
$white: #FFFCF9;
$off-white: #F1F1F0;
$water: #C9D2D3;
$black: #08090A;
$lavender: #A2A3BB;
