<div id="controls-wrap">
  <div>
    <h6>Places</h6>
    <div class="separator"></div>
    <div class="checklist" id="checklist-for-point-layers">
      <!-- populated by controls.js -->
    </div>
    <br />
    <h6>Paths</h6>
    <div class="separator"></div>
    <div class="checklist" id="checklist-for-path-layers">
      <!-- populated by controls.js -->
    </div>
  </div>
</div>
