<div id="controls-wrap">
  <div>
    <div class="shareable-url-generator-wrap">
      <button>
        <p style="font-size: inherit">Share</p>
        <div class="icons-wrap">
          <div class="icon-wrap"><img id="share" src="../../assets/images/icons/share.svg"></img></div>
          <div class="icon-wrap"><img id="success" src="../../assets/images/icons/check.svg"></img></div>
        </div>
      </button>
    </div>

    <h6>Places</h6>
    <div class="separator"></div>
    <div class="checklist" id="checklist-for-point-layers">
      <!-- populated by controls.js -->
    </div>
    <br />
    <h6>Paths</h6>
    <div class="separator"></div>
    <div class="checklist" id="checklist-for-path-layers">
      <!-- populated by controls.js -->
    </div>
  </div>
</div>
