<div id="header-wrap">
  <div>
    <h6>Wisconsin Coastal Guide</h6>
  </div>

  <div>
    <a href="/">
      <p>
        Map
      </p>
    </a>

    <a href="#attraction-links">
      <p>
        Attraction Links
      </p>
    </a>

    <a href="#tourism-resources">
      <p>
        Tourism Resources
      </p>
    </a>

    <a href="#about">
      <p>
        About
      </p>
    </a>

    <a href="#contact">
      <p>
        Contact Us
      </p>
    </a>
  </div>
</div>
