<div class="header-wrap">
  <a href="/">
    <div>
      <img src="../../assets/images/icons/map.svg" />
      <h6>Wisconsin Coastal Guide</h6>
    </div>
  </a>

  <div>
    <a href="/about">
      <p>
        About
      </p>
    </a>
  </div>
</div>
