<div class="header-wrap">
  <div>
    <img src="../../assets/images/icons/map.svg" />
    <h6>Wisconsin Coastal Guide</h6>
  </div>

  <div>
    <a href="/">
      <p>
        Map
      </p>
    </a>

    <a href="/about">
      <p>
        About
      </p>
    </a>
  </div>
</div>
