<div id="header-wrap-mobile">
  <div>
    <h6>WCG</h6>
  </div>

  <div>
    <a id="mobile-controls-toggler" href="/">
      <p>
        Show Legend
      </p>
    </a>

    <a href="/about">
      <p>
        About
      </p>
    </a>
  </div>
</div>
